.about {
  position: relative;

  margin: 0 auto;
  overflow: hidden;

  &::before {
    content: "";
    position: static;

    display: block;
    width: 685px;
    height: 400px;
    margin-top: 20px;

    background-image:
      image-set(
        url("../img/about/about-mobile@1.webp") type("image/webp") 1x,
        url("../img/about/about-mobile@1.png") type("image/jpeg") 1x
      );
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: $retina) {
      background-image:
        image-set(
          url("../img/about/about-mobile@2.webp") type("image/webp") 2x,
          url("../img/about/about-mobile@2.png") type("image/jpeg") 2x
        );
    }

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 155px;
      left: 0;
      z-index: -1;

      width: 542px;
      height: 350px;

      background-image:
        image-set(
          url("../img/about/about-tablet@1.webp") type("image/webp") 1x,
          url("../img/about/about-tablet@1.png") type("image/jpeg") 1x
        );

      @media (min-resolution: $retina) {
        background-image:
          image-set(
            url("../img/about/about-tablet@2.webp") type("image/webp") 2x,
            url("../img/about/about-tablet@2.png") type("image/jpeg") 2x
          );
      }

      @media (min-width: $desktop-width) {
        top: 80px;
        right: auto;
        left: 0;

        width: 660px;
        height: 498px;
        margin-left: 0;

        background-image:
          image-set(
            url("../img/about/about-desktop@1.webp") type("image/webp") 1x,
            url("../img/about/about-desktop@1.png") type("image/jpeg") 1x
          );

        @media (min-resolution: $retina) {
          background-image:
            image-set(
              url("../img/about/about-desktop@2.webp") type("image/webp") 2x,
              url("../img/about/about-desktop@2.png") type("image/jpeg") 2x
            );
        }
      }
    }
  }
}

.about__container {
  padding-top: 18px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-right: 48px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 99px;
    padding-right: 195px;
    padding-bottom: 99px;
  }
}

.about__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0;
    margin-left: auto;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 52%;
    min-height: 500px;
  }
}

.about__title h2 {
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 48px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
    margin-bottom: 58px;
  }
}

.about__title span {
  @media (min-width: $tablet-width) {
    top: 4px;
  }
}

.about__content {
  display: grid;
  margin: 0;
  padding: 0;

  gap: 26px;

  @media (min-width: $tablet-width) {
    gap: 29px;
  }
}

.about__inner h3 {
  margin: 0;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    padding: 0;

    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;

    font-size: 21px;
    line-height: 21px;
  }
}

.about__inner p {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 157%;
  }
}
