.map__image {
  display: block;
  width: 100%;
  min-height: 343px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    min-height: 324px;
    margin: 0;
    margin-right: auto;
  }
}

.map__image img {
  display: block;
  width: 100%;
  height: 100%;
}
