.title {
  position: relative;
}

.title h2 {
  z-index: 5;

  margin: 0;
  margin-top: 18px;

  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  color: $color-main-dark;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

.title span {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 1;

  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: $color-main-dark;

  opacity: 0.03;

  @media (min-width: $tablet-width) {
    top: -17px;

    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
  }
}
