@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-light.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-light.woff") format("woff"),
    url("../fonts/montserrat/montserrat-light.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat/montserrat-regular.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-medium.woff") format("woff"),
    url("../fonts/montserrat/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-semi-bold.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-semi-bold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-semi-bold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-bold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "montserrat";

  font-display: swap;
  src:
    url("../fonts/montserrat/montserrat-extra-bold.woff2") format("woff2"),
    url("../fonts/montserrat/montserrat-extra-bold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-extra-bold.ttf") format("truetype");
}
